{% extends "index.html" %}
{% block content %}
<h1>Agent CPU Information</h1>
<table>
    <thead>
       <tr>
         <th>ID</th> 
         <th>Timestamp</th>
         <th>Report ID</th>
         <th>Target</th>
         <th>Percents</th>
       </tr>
    </thead>
    
    <tbody>
       {% for row in cpu_stats %}
          <tr>
             <td>{{ row.id }}</td> 
             <td>{{ row.timestamp }}</td>
             <td>{{ row.report_id }}</td>
             <td>{{ row.target }}</td>
             <td>{{ row.percents }}</td>
          </tr>
       {% endfor %}
    </tbody>
 </table>
{% endblock %}