{% extends "index.html" %}
{% block content %}
<h1>Memory Information</h1>
<table>
    <thead>
       <tr>
          <th>ID</th> 
          <th>Timestamp</th>
          <th>Target</th>
          <th>Active</th>
          <th>Available</th>
          <th>Free</th>
          <th>Inactive</th>
          <th>Percent</th>
          <th>Total</th>
          <th>Used</th>
          <th>Wired</th>
       </tr>
    </thead>
    
    <tbody>
       {% for row in memory_stats %}
          <tr>
             <td>{{ row.id }}</td>
             <td>{{ row.timestamp }}</td>
             <td>{{ row.target }}</td>
             <td>{{ row.active }}</td>
             <td>{{ row.available }}</td>
             <td>{{ row.free }}</td>
             <td>{{ row.inactive }}</td>
             <td>{{ row.percent }}</td>
             <td>{{ row.total }}</td>
             <td>{{ row.used }}</td>
             <td>{{ row.wired }}</td>
          </tr>
       {% endfor %}
    </tbody>
 </table>
{% endblock %}
