{% extends "index.html" %}
{% block content %}
<h1>Report Details</h1>
{% for row in report_details %}
  <p>row</p>
{% endfor %}

<div>
   <h1>Disk</h1>
   <table>
      <thead>
         <tr>
            <th>ID</th> 
            <th>Timestamp</th>
            <th>Report ID</th>
            <th>Target</th>
            <th>Mount Point</th>
            <th>Total</th>
            <th>Used</th>
            <th>Free</th>
            <th>Percent</th>
         </tr>
      </thead>
      <tbody>
         {% for row in disk_data %}
            <tr>
               <td>{{ row.id }}</td>
               <td>{{ row.timestamp }}</td>
               <td>{{ row.report_id }}</td>
               <td>{{ row.target }}</td>
               <td>{{ row.mount_point }}</td>
               <td>{{ row.total }}</td>
               <td>{{ row.used }}</td>
               <td>{{ row.free }}</td>
               <td>{{ row.percent }}</td>
            </tr>
         {% endfor %}
      </tbody>
   </table>
</div>
<div>
   <h1>Memory</h1>
   <table>
      <thead>
         <tr>
            <th>ID</th> 
            <th>Timestamp</th>
            <th>Report ID</th>
            <th>Target</th>
            <th>Active</th>
            <th>Available</th>
            <th>Free</th>
            <th>Inactive</th>
            <th>Percent</th>
            <th>Total</th>
            <th>Used</th>
            <th>Wired</th>
         </tr>
      </thead>
      
      <tbody>
         {% for row in memory_data %}
            <tr>
               <td>{{ row.id }}</td>
               <td>{{ row.timestamp }}</td>
               <td>{{ row.report_id }}</td>
               <td>{{ row.target }}</td>
               <td>{{ row.active }}</td>
               <td>{{ row.available }}</td>
               <td>{{ row.free }}</td>
               <td>{{ row.inactive }}</td>
               <td>{{ row.percent }}</td>
               <td>{{ row.total }}</td>
               <td>{{ row.used }}</td>
               <td>{{ row.wired }}</td>
            </tr>
         {% endfor %}
      </tbody>
   </table>
</div>
<div>
   <h1>CPU</h1>
   <table>
      <thead>
         <tr>
           <th>ID</th> 
           <th>Timestamp</th>
           <th>Report ID</th>
           <th>Target</th>
           <th>Percents</th>
         </tr>
      </thead>
      
      <tbody>
         {% for row in cpu_data %}
            <tr>
               <td>{{ row.id }}</td> 
               <td>{{ row.timestamp }}</td>
               <td>{{ row.report_id }}</td>
               <td>{{ row.target }}</td>
               <td>{{ row.percents }}</td>
            </tr>
         {% endfor %}
      </tbody>
   </table>
</div>
<div>
   <h1>Network Info</h1>
   <table>
      <thead>
         <tr>
            <th>ID</th> 
            <th>Timestamp</th>
            <th>Report ID</th>
            <th>Target</th>
            <th>Bytes Sent</th>
            <th>Bytes Received</th>
            <th>Packets Sent</th>
            <th>Packets Received</th>
            <th>Error Packets In</th>
            <th>Error Packets Out</th>
            <th>Dropped Packets In</th>
            <th>Dropped Packets Out</th>
         </tr>
      </thead>
      <tbody>
         {% for row in network_info_data %}
            <tr>
               <td>{{ row.id }}</td> 
               <td>{{ row.timestamp }}</td>
               <td>{{ row.report_id }}</td>
               <td>{{ row.target }}</td>
               <td>{{ row.bytes_sent }}</td>
               <td>{{ row.bytes_recvd }}</td>
               <td>{{ row.packets_sent }}</td>
               <td>{{ row.packets_recvd }}</td>
               <td>{{ row.err_pkt_in }}</td>
               <td>{{ row.err_pkt_out }}</td>
               <td>{{ row.dropped_pkt_in }}</td>
               <td>{{ row.dropped_pkt_out }}</td>
            </tr>
         {% endfor %}
      </tbody>
  </table>
</div>
<div>
   <h1>Network IPs</h1>
   <table>
      <thead>
         <tr>
            <th>ID</th>
            <th>Timestamp</th>
            <th>Report ID</th>
            <th>Target</th>
            <th>IP Addresses</th>
         </tr>
      </thead>
      <tbody>
         {% for row in network_ip_data %}
            <tr>
               <td>{{ row.id }}</td> 
               <td>{{ row.timestamp }}</td>
               <td>{{ row.report_id }}</td>
               <td>{{ row.target }}</td>
               <td>{{ row.addresses }}</td>
            </tr>
         {% endfor %}
      </tbody>
   </table>
</div>
<div>
   <h1>System Uptime</h1>
   <table>
      <thead>
         <tr>
            <th>ID</th> 
            <th>Timestamp</th>
            <th>Report ID</th>
            <th>Target</th>
            <th>Uptime</th>
         </tr>
      </thead>
      <tbody>
         {% for row in system_uptime_data %}
            <tr>
               <td>{{ row.id }}</td>
               <td>{{ row.timestamp }}</td>
               <td>{{ row.report_id }}</td> 
               <td>{{ row.target }}</td>
               <td>{{ row.uptime }}</td>
            </tr>
         {% endfor %}
      </tbody>
   </table>
</div>
<div>
   <h1>System Users</h1>
   <table>
      <thead>
         <tr>
            <th>ID</th>
            <th>Timestamp</th>
            <th>Report ID</th>
            <th>Target</th>
            <th>Started</th>
            <th>Terminal</th>
            <th>Username</th>
         </tr>
      </thead>
      <tbody>
         {% for row in system_user_data %}
            <tr>
               <td>{{ row.id }}</td> 
               <td>{{ row.timestamp }}</td>
               <td>{{ row.report_id }}</td>
               <td>{{ row.target }}</td>
               <td>{{ row.started }}</td>
               <td>{{ row.terminal }}</td>
               <td>{{ row.username }}</td>
            </tr>
         {% endfor %}
      </tbody>
   </table>
</div>
<div>
   <h1>Operating System</h1>
   <table>
      <thead>
         <tr>
            <th>ID</th> 
            <th>Timestamp</th>
            <th>Report ID</th>
            <th>Target</th>
            <th>Operating System</th>
         </tr>
      </thead>
      <tbody>
         {% for row in system_os_data %}
            <tr>
               <td>{{ row.id }}</td> 
               <td>{{ row.timestamp }}</td>
               <td>{{ row.report_id }}</td>
               <td>{{ row.target }}</td>
               <td>{{ row.opersys }}</td>
            </tr>
         {% endfor %}
      </tbody>
   </table>
</div>
{% endblock %}